{% extends 'yum/base_withlogin.html' %}

{% block title %}
Profile
{% endblock title %}

{% block content %}
          <div class="jumbotron">
            <div class"row-fluid">
              <div class="span4">

                {% block user_photo %} 
                 <img src="/munchndrank/userphoto/{{name.user}}" alt="{{form.name.value}}" height="250px" width="250px" float="left" style="border:5px solid black">
               {% endblock %}

              </div>
              <a href="#followUser" style="float:right" class="btn btn-info">Follow</a>
              
              <div class="span4">
                <h1>{{ name }}</h1> <h2>({{name.user}})</h2>
                <p> {{ info }} </p>
                <a class="btn btn-sm btn-link" style="font-size:22px" href="/munchndrank/openbook/{{name.user}}" role="button">Public Recipe Book</a>
              </div>


            </div>

          </div>
{% endblock content %}
